<nav class="nav justify-content-center">
  <a class="nav-link active" href="{{ path('home') }}">Accueil</a>
  <a class="nav-link active" href="{{ path('reglement') }}">Réglement</a>
  <a class="nav-link active" href="{{ path('matieres') }}">Matières</a>
  <a class="nav-link active" href="{{ path('create_matiere') }}">Ajouter Matière</a>
  <a class="nav-link active" href="{{ path('profs') }}">Professeurs</a>
  <a class="nav-link active" href="{{ path('create_prof') }}">Ajouter Professeur</a>
  <a class="nav-link active" href="{{ path('classes') }}">Classes</a>
  <a class="nav-link active" href="{{ path('create_classe') }}">Ajouter Classe</a>
  <a class="nav-link active" href="{{ path('eleves') }}">Elèves</a>
  <a class="nav-link active" href="{{ path('create_eleve') }}">Ajouter Elève</a>
  <a class="nav-link active" href="{{ path('notes') }}">Notes</a>
  <a class="nav-link active" href="{{ path('create_note') }}">Ajouter Note</a>
</nav>